# Arquivos de compilação
*.o
*.obj
*.elf
*.bin
*.iso
*.img
*.log
*.dmp
*.map
*.lst
*.sym
*.tmp
*.bak
kasm.o
kc.o
# kernel - removido do gitignore para permitir deploy
# link.ld - removido do gitignore, é necessário para build

# Permitir assets do v86 no Pages
!docs/v86/**/*.bin
!docs/v86/**/*.wasm

# GitHub Pages
public/
_site/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# OS específicos
.DS_Store
Thumbs.db